In [1]:
import pandas as pd

Reading precolator results with q-value less than 0.006

In [2]:
df_all = pd.read_csv('crux-output/percolator-output/percolator.target.psms.txt', sep = '\t', skipinitialspace=True)
df_prec_mass = df_all.loc[(df_all['percolator q-value'] < 0.006)]
df_percolator = df_prec_mass[['scan', 'sequence']]
df_percolator

         scan                 sequence
0      284564            HYGDQTFSSSTVK
1      510517  LAAAQQQAQASGIMPSNEDVATK
2      510510  LAAAQQQAQASGIMPSNEDVATK
3      284558            HYGDQTFSSSTVK
4      376458       APTASQLQNPPPPPSTTK
...       ...                      ...
46949  455929      YPYQLSVAPTFPVPPSSSR
46950  247998             VICSVTGPIEPK
46951  196227              VIVAGTSAYSR
46952  324134         VVGQDEAIAAISDAVR
46953  292730            NVPLYQHLADLSK

[46954 rows x 2 columns]

Replacing the index from df_precolator with the spectrum scan_id

In [4]:
df_features = pd.read_csv('crux-output/diameter.features.pin', sep = '\t', usecols = ['SpecId', 'ScanNr'])
df_features.head(3)

            SpecId  ScanNr
0   target_0_5_1_2       1
1  target_0_46_1_2       2
2  target_0_87_1_2       3

In [5]:
df_union = pd.merge(df_features, df_percolator, left_on = 'ScanNr', right_on = 'scan')
df_union.drop(['ScanNr', 'scan'], inplace=True, axis=1)
df_union.head(3)

               SpecId sequence
0  target_0_12384_2_1  ISENGQR
1  target_0_14065_2_1  HGIVEEK
2  target_0_14106_2_1  HGIVEEK

In [6]:
for ind in df_union.index:
    df_union['SpecId'][ind] = df_union['SpecId'][ind].removeprefix('target_0_')
    df_union['SpecId'][ind] = df_union['SpecId'][ind][0:-4]

In [7]:
df_union = df_union.rename(columns = {"SpecId": "scan"})

In [9]:
df_union

      scan      sequence
0    12384       ISENGQR
1    14065       HGIVEEK
2    14106       HGIVEEK
3    14147       HGIVEEK
4    15992      VASQLGQK
..     ...           ...
175  57935  DAGTIAGLNVLR
176  57976  DAGTIAGLNVLR
177  58017  DAGTIAGLNVLR
178  60436  DAGQIVGLNVLR
179  60477  DAGQIVGLNVLR

[180 rows x 2 columns]

Reading diameter results

In [11]:
df_all = pd.read_csv('crux-output/diameter.psm-features.filtered.txt', sep = '\t', skipinitialspace=True, low_memory=False)
df_prec_mass = df_all.loc[(df_all['spectrum precursor m/z'] == 410.4365)]
df_diameter = df_prec_mass[['scan', 'sequence']]
df_diameter

         scan             sequence
144990      2               IWLEFK
144991      2               LIWLEK
144992      2               WLIYDK
144993      2               WLIEIK
144994      2               LLWFDK
...       ...                  ...
771485  73351   ISLPLPMNTNDLTAELEK
771486  73351  IFIGVVHWNNPVQPSGAAK
771487  73351    NDDIFEETNITYALINK
771488  73351   DDAIELSNDVFGNYVIQK
771489  73351   MSLILPDPLVWNALIDSK

[35800 rows x 2 columns]

Saving data in .csv files

In [12]:
df_diameter.to_csv('train_data_diameter.csv', index=False)
df_union.to_csv('train_data_percolator.csv', index=False)